header{
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: white;
}

/* .displayNone{
  display: none;
} */

.headImage2,.headImage3,.headImage4,.headImage5,.headImage6,.headImage7,.headImage8,.headImage9{
  opacity: 0;
  transition: 2s;
}

.show {
  opacity: 1;
}

.headerTitle{
  /* font-family: cursive; */
  font-style  : italic; 
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 20px;
}

.headerRight{
  background-color: rgba(245, 245, 220, 0.3); 
  border-radius: 10px;
  font-family: 'MS Mincho';
  font-weight: bold;
}

.headerRight__mail{
  letter-spacing: -1px; 
  color: rgb(87, 226, 87);
}

.sliderSize{
  /* height: 500px; */
}

.contentText{
  background-color: rgba(245, 245, 220, 0.3);
  font-family: 'MS Mincho';
  font-weight: bold;
}

.contentPrice{
  text-align: center;
}

i{
  font-size: 30px;
  padding: 0 10px;
}

/* テキストのグラデーションは以下を参考 */
/* https://saruwakakun.com/html-css/basic/linear-radial-gradient
https://marie-web.design/blog/text-gradation/ */
.fa-instagram{
  color: #fcc37d;
  background: linear-gradient(to bottom, #5c1ac7 15%, #e12814 40%, #fcc37d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2,footer{
  font-family: 'MS Mincho';
  font-weight: bold;
}