@charset "utf-8";

/* reset */
*{
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
  font-family: 'Noto Serif JP', serif;
}
a{
  text-decoration: none;
}
img{
  border: none;
  vertical-align: bottom;
}
/* common */
:root{
  --bg-color: rgba(245, 245, 220, 0.3);
}
/* top page animation */
#headImage{
  background: var(--bg-color);
}
.imgWrap{
  max-width: 960px;
  margin: 0 auto;
}
.headImage2,.headImage3,.headImage4,.headImage5,.headImage6,.headImage7,.headImage8,.headImage9{
  opacity: 0;
  transition: 2s;
  height: 100%;
}
.show {
  opacity: 1;
}
.fadein {
  opacity: 0;
  transform : translate(0, 50px);
  transition : all 1500ms;
}
.fadein2 {
  opacity: 0;
  transform : translate(0, 50px);
  transition : all 3000ms;
}
.fadein3 {
  opacity: 0;
  transform : translate(0, 50px);
  transition : all 4500ms;
}
.scrollin{
  opacity: 1;
  transform: translate(0, 0);
}
/* header */
.headerTitle{
  text-align: center;
  font-size: 20px;
}
.headerTitle h1, .headerTitle p{
  text-align: center;
}
.headerBottom{
  border-radius: 10px;
  font-weight: bold;
  max-width: 960px;
  margin: 0 auto;
}
.headerBottom > p{
  color: rgb(255, 131, 152);
}
.headerBottom__mail{
  letter-spacing: -1px; 
  color: rgb(87, 226, 87);
}
/* slider */
.mainTopSlider{
  background-image: url(../image/mainBack.jpg);
}
.slide{
  width: 960px;
  margin: 0 auto;
}
.mainTopSlider img{
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: 50% 100%;
}
@media screen and (max-width: 992px){
  .slide{
    width: 600px;
    margin: 0 auto;
  }
  .mainTopSlider img{
    width: 100%;
    height: 400px;
  }
}
@media screen and (max-width: 767px){
  .slide{
    width: 300px;
    margin: 0 auto;
  }
  .mainTopSlider img{
    width: 100%;
    height: 200px;
  }
}
/* main contents */
main{
  max-width: 960px;
  margin: 0 auto;
}
.contentText{
  background-color: var(--bg-color);
  font-weight: bold;
}

.contentPrice{
  text-align: center;
}

i{
  font-size: 30px;
  padding: 0 10px;
}

/* テキストのグラデーションは以下を参考 */
/* https://saruwakakun.com/html-css/basic/linear-radial-gradient
https://marie-web.design/blog/text-gradation/ */
.fa-instagram{
  color: #fcc37d;
  background: linear-gradient(to bottom, #5c1ac7 15%, #e12814 40%, #fcc37d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.designBorder {
  /* border: outset 10px #900; */
  border: outset 20px brown;
}

.frameRed {
	display: inline-block;
	position: relative;
}



.originalIcon{
  background-color: rgb(200, 200, 200);
  width: 80px;
  height: 80px;
  border-radius: 80px;
  line-height: 80px;
  font-size: 40px;
  color: white;
}
.originalIcon2{
  line-height: 80px;
  color: rgb(21, 118, 21);
  font-size: 40px;
  font-weight: 100;
}
.originalIcon3{
  background-color: rgb(200, 200, 200);
  width: 80px;
  height: 80px;
  border-radius: 80px;
  line-height: 80px;
  font-size: 20px;
  color: white;
}

.blogLink{
  background-color: white;
  color: black;
}

.blogLink:hover{
  opacity: 0.5;
  color: black;
  transition: 0.3s;
}

.blogImageSize{
  height: 100px;
  object-fit: cover;
}
footer .g-map{
  margin: 0 auto;
  max-width: 500px;
  height: 400px;
}