@charset "UTF-8";
/* reset */
*{
  padding: 0;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
  font-family: 'Noto Serif JP', serif;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
img{
  border: none;
  vertical-align: bottom;
  /* max-width: 100%;
  height: auto; */
}
/* common */
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.accent-red{
  color: rgb(232, 92, 92);
}
.accent-blue{
  color: rgb(84, 84, 211);
}
.main-color{
  color: #39b039;
}
.dark-color{
  color: darkgreen;
}
:root{
  --bg-color: rgba(245, 245, 220, 0.5);
}
@media screen and (min-width: 768px){
  .flex-wrap{
    display: flex;
    justify-content: space-between;
  }
}
/* background animation */
@keyframes heart-beat{
  10%{
    transform: translate(-50%, -50%) scale(1.2);
  }
  20%{
    transform: translate(-50%, -50%) scale(1);
  }
  30%{
    transform: translate(-50%, -50%) scale(1.2);
  }
  40%{
    transform: translate(-50%, -50%) scale(1);
  }
}
.bg-anime{
  background: url(../image/logo3.png) center/cover no-repeat;
  width: 100px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  animation: heart-beat 3s infinite;
}
@keyframes rotate-word{
  100%{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.bg-anime2{
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../image/logo5.png) center/cover no-repeat;
  width: 300px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  animation: rotate-word 5s infinite;
}
@media screen and (min-width: 768px){
  .bg-anime{
    width: 200px;
    height: 200px;
  }
  .bg-anime2{
    width: 600px;
    height: 600px;
  }
}
/* header */
header{
  color: darkgreen;
  background: var(--bg-color);
  padding: 10px;
}
h1, header p{
  padding-left: 35px;
  font-family: 'Nova Mono', monospace;
}
h1{
  font-size: 20px;
}
header p{
  font-size: 11px;
}
header > .container{
  background: url(../image/logo2.png) left/contain no-repeat;
}
/* @media screen and (min-width: 768px){
  h1, header p{
    padding-left: 35px;
  }
  h1{
    font-size: 20px;
  }
  header p{
    font-size: 11px;
  }
} */
/* slider */
.bx-wrapper{
  border: none;
  box-shadow: none;
}
/* main top */
h2,h3{
  color: darkgreen;
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}
h3{
  font-size: 25px;
}
@media screen and (min-width: 768px){
  h2{
    font-size: 50px;
  }
  h3{
    font-size: 40px;
  }
}
section.reserv{
  text-align: center;
  margin-bottom: 100px;
  font-weight: bold;
  padding: 0 10px;
}
p.caution{
  color: rgb(255, 137, 156);
  margin-bottom: 50px;
}
p.message{
  font-size: 20px;
  line-height: 2;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px){
  p.message{
    font-size: 30px;
  }
}
.reserv__mail{
  width: 300px;
  margin: 0 auto;
  padding: 20px 0;
  background: var(--bg-color);
  border: 1px dashed darkgreen;
}
.mb20{
  margin-bottom: 20px;
}
.reserv__mail__txt{
  line-height: 1.5;
  letter-spacing: .1em;
}
.reserv__mail p i{
  margin: 0 10px;
  padding: 10px;
  color: white;
  font-size: 35px;
  background: darkgreen;
  border-radius: 50%;
  transition: .3s;
}
.reserv__mail p i:hover{
  background: #acb83b;
  color: darkgreen;
}
/* main contents */
main.container{
  max-width: 960px;
  padding: 0 10px;
}
main section{
  background: var(--bg-color);
  padding: 50px 10px;
}
@media screen and (min-width: 768px){
  main section{
    padding: 50px;
  }
}
.in-a-word{
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.in-a-word .ciecle{
  background: lightgray;
  padding: 20px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  transition: 1s;
}
.ciecle.feedup{
  opacity: 0;
  transform: translateY(50px);
}
section.about-salon img{
  display: block;
  width: 200px;
  margin: 0 auto 20px;
}
@media screen and (min-width: 768px){
  section.about-salon img{
    float: right;
    margin-left: 20px;
  }
}
section p.discription{
  line-height: 1.7;
  font-weight: bold;
}
.about-therapist .img-box{
  max-width: 600px;
  margin: 0 auto 20px;
}
.about-therapist img{
  width: 100%;
}
.about-merit img{
  /* display: block; */
  width: 100%;
  /* margin: 0 auto 20px; */
  margin-bottom: 20px;
}
@media screen and (min-width: 768px){
  .about-merit img{
    float: left;
    width: 200px;
    margin-right: 20px;
  }
}
.about-feel-uneasy{
  margin-bottom: 100px;
}
.about-feel-uneasy .in-a-word{
  font-size: 30px;
}
.about-feel-uneasy .ciecle{
  padding: 0;
  font-size: 20px;
  width: 80px;
  line-height: 80px;
  text-align: center;
}
.about-feel-uneasy img{
  width: 100%;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px){
  .about-feel-uneasy img{
    width: 300px;
    float: right;
    margin-left: 20px;
  }
}
/* therapist */
section.therapist{
  margin-bottom: 100px;
}
section.therapist h3{
  text-align: left;
}
.plofile-slider{
  margin: 0 auto 20px;
  width: 280px;
}
.plofile-slider .main-image{
  width: 100%;
  height: 280px;
  border: 10px inset darkred;
  background: white;
  margin-bottom: 20px;
}
.main-image img{
  display: block;
  height: 100%;
  margin: 0 auto;
}
.plofile-slider > ul{
  width: 100%;
  height: 90px;
  display: flex;
  background: white;
}
.plofile-slider > ul img{
  width: 90px;
  height: 90px;
  object-fit: contain;
}
@media screen and (min-width: 768px){
  .plofile-slider{
    margin-right: 20px;
  }
}
table th{
  white-space: nowrap;
  background: darkgreen;
  color: white;
  padding: 10px;
  font-size: 16px;
}
table tr:first-of-type th{
  letter-spacing: -2px;
}
table td{
  font-size: 16px;
  line-height: 1.6;
  background: white;
  padding: 10px;
}
section.therapist h3:nth-of-type(2){
  margin-top: 50px;
}
article{
  max-width: 300px;
  margin: 0 auto 20px;
  background: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  transition: .3s;
}
article:hover{
  box-shadow: 1px 1px 10px gray, -1px -1px 20px gray;
}
article img{
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}
article h4{
  margin-left: 10px;
  color: darkgreen;
  font-weight: bold;
  font-size: 22px;
}
article p{
  color: black;
  font-size: 16px;
  padding: 5px 10px 10px;
  line-height: 1.5;
}
@media screen and (min-width: 768px){
  article{
    width: 100%;
    margin: 0 10px;
  }
}
/* price */
section.price{
  margin-bottom: 100px;  
}
section.price ul{
  background: url(../image/salon_img_3.jpg) center/cover no-repeat;
  padding: 10px;
}
section.price li{
  background: rgba(255, 255, 255, 0.8);
  line-height: 2;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
section.price li:first-child{
  padding-top: 50px;
}
section.price li:last-child{
  padding-bottom: 50px;
}
@media screen and (min-width: 768px){
  section.price ul{
    padding: 50px;
  }
  section.price li{
    font-size: 20px;
  }
}
/* footer */
footer{
  background: darkgreen;
  color: white;
  text-align: center;
  font-weight: bold;
}
footer > .container{
  padding: 50px 10px;
}
footer h2{
  font-size: 30px;
  border-bottom: 1px solid darkgreen;
}
footer i{
  color: #fcc37d;
  background: linear-gradient(to bottom, #5c1ac7 15%, #e12814 40%, #fcc37d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  margin-bottom: 20px;
}
section.sns{
  margin-bottom: 100px;
}
section.sns p{
  line-height: 1.5;
}
section.access p{
  margin-bottom: 20px;
}
footer > p{
  padding: 30px 0;
  background: darkgreen;
  color: white;
}
